@function color($color) {
  @return map-get($palette, map-get($colors, $color));
}

$palette: (
  dark:   rgba(71, 60, 62, 100),
  bright: rgba(4, 142, 216, 100),
  warm:   rgba(238, 66, 102, 100),
  cool:   rgba(201, 240, 255, 100),
  light:  rgba(234, 255, 253, 100)
);

$colors: (
  title-bg: bright,
  title-text: light,
  slide-bg: cool,
  slide-text: dark,
  heading-text: bright,
  bold-text: warm
);
