header {
  background-color: color(background-bright);
  color: color(light);

  h1 {
    @include media('>=xga') {
      font-size: 5rem;
    }
  }

  .author {
    font-size: 4rem;
    text-align: center;
  }

  .ucr-logo {
    display: block;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    width: 40%;
  }

  @include media('>=xga') {
    display: flex;
    align-items: center;
    justify-content: center;

    .title {
      max-width: 90%;
    }
  }
}
