@import 'include-media/dist/include-media';
@import 'settings';
@import 'global';
@import 'typography';
@import 'color';
@import 'deck';

html {
  &.no-js {
    @import 'linear';
  }

  &.js {
    overflow-y: hidden;
  }
}
