<header>
  <div class="title">
    <h1>{{meta.title}}</h1>
    <p class="author">{{text.author}}</p>
    <p class="author">{{text.coauthor}}</p>
  </div>
  <img class="ucr-logo"
       src="DIGEST(/images/ucr-logo-white.svg)"
       alt="University of California, Riverside">
</header>
